<div class="container">
  <form action="/users/new" method="POST">
    <h2>Register!</h2>
    <p>
      name: <input name="name">
    </p>
    <p>
      password: <input type="password" name="password">
    </p>
    <p>
    	<input type="submit">
    </p>
  </form>
</div>
