<div class="container">
  <h2>What would you like to do?</h2>
  <ul id="category_list">
    <li><a href="/categories"><button>view all categories</button></a></li>
    <li><a href="/posts/new"><button>make a new post</button></a></li>
  </ul>
</div>
